.idea\
vcs.xml
uiDesigner.xml
misc.xml
encodings.xml
workspace.xml
target\
.idea\
target\
.idea\
.idea\
.idea\
target\
.idea\
target/

.idea/
target\
.idea\
target\
.idea\
.idea\
.idea\
target\
.idea\

